body{
    display: block;
    background-image:url(../estilos/imagenes/imagenpruba.jpg) ;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    color: black;
}

header{
    width: 100%;
    background: rgba(0, 0, 0, 0.589);
    height: 70px;
    position: fixed;
    z-index: 10;
    top: 0px;
}

.pimaa{
position: absolute;
margin: 0 auto;
width: 500px;
height: 250px;
top: 65px;
left: 445px;
}
.container{
    margin-top: 70px;
}
#enviar{
    display: inline-block;
    background-color: rgb(88, 88, 88);
    width:60px;
    height: 27px;
    color: white;
    border: none;
    border-radius: 5px;
}
h2, b, thead, h3, label{
    color: white;
}
#tabble{
    display: block;
    max-height: 450px;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;


}
td{
    background-color: white;
}
table{
    border: 2px;
    border-color: black;
}
thead{
    background-color: rgba(0, 0, 0, 0.411);
}
#hf{
    width: 150px;
}
#hi, #hp{
    width: 80px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
